.dash-table-container {
    @apply w-full h-full;
}

.dash-table-component {
    @apply w-full rounded-lg bg-white table-fixed shadow;
}

.dash-table-filters-container {
    @apply w-full flex items-center justify-between;
}

.filter-button {
    @apply rounded-lg text-center font-light align-middle py-1.5 px-1.5 text-xs md:px-3.5;
}

.filter-button-white {
    @apply border-[1px] border-gray-300 text-gray-700;
}

.dash-table-t-head {
    @apply bg-gray-50 h-10 border-[1px] border-gray-100 rounded-lg text-gray-500 font-light text-xs;
}

th, td {
    @apply w-[5%] md:w-[9%] rounded-lg text-center;
}

th:nth-child(1),
td:nth-child(1) {
    @apply w-[95%] md:w-[45%] text-start pl-8;
}


th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
    @apply invisible md:visible;
}

th:nth-child(5),
td:nth-child(5) {
    @apply w-[3%] pr-4;
}

.user-table-row {
    @apply h-12 text-xs text-gray-900 font-normal border-b-[1px] border-gray-100;
}

.user-table-filter {
    @apply mr-2 cursor-pointer bg-blue-100 rounded-md text-blue-600 font-medium;
}

.user-table-filter-input {
    @apply mb-2 md:mr-2 md:mt-2 text-gray-500 border-[1px] border-gray-300 rounded-md h-[30px] w-full lg:w-[30%] lg:max-w-[200px] px-4 py-1;
}